/* /static/style.css */

body, html {
    margin: 0 auto;
    padding: 0.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top:0;
    bottom:0;
    left:0;
    right:0;
    text-decoration: none !important;

}

th.title{
    padding-left: 0.8%;
    text-align: left;
    vertical-align: top;
    max-width: 30%;
    word-wrap: break-word;
}

th {
    padding-right: 1%;
}

.headers{
    margin-right: 4%;
    font-size: 93%;
}

th.titleOG{
    padding-left: 0;
    text-align: left;
}


h1 {
    clear: both;
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin: 0 auto;
    padding-top: 0.3%;
    padding-bottom: 0.3%
}

.updateDate{
    margin-top: 0.1%;
}

h4 {
    font-weight: normal;
    font-size: 1rem;
    text-align: right;
    float: right;
    clear: both;
    margin: 0;
}

form {
    position: relative;
    float: right;
    padding-top: 0;
    padding-bottom: 0.4%;
    clear: both;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a:hover {
    color: inherit;
    text-decoration: inherit;
}
select {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
    border-radius: 0.1%;
    border-style: none;
    margin-bottom: 0.2%;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    clear: both;
    text-align:end;
    text-align-last: right;
    position: relative;
}

option {
    direction: rtl;
}

table {
    position: relative;
    clear: both;
    -webkit-border-horizontal-spacing: 10px;
    table-layout: fixed
}

td {
    word-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
    border: 10px transparent;
    border-image-repeat: stretch;
    border-image-slice: 200%;
}

.content{
    width: 100%;
}

select:focus,select:active,option:focus,option:active {
   outline: none !important;
   box-shadow: none;
}

:after, ::before {
    box-sizing: content-box;
}

.numbers{
    width:5em;
    padding:0;
}

.bottomPart {
    position: relative;
}
