/* /static/style.css */

body, html {
    margin: 0 auto;
    padding: 0.5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    top:0;
    bottom:0;
    left:0;
    right:0;
}

th.title{
    padding-left: 0.8%;
    text-align: left;
    vertical-align: top;
    max-width: 30%;
    word-wrap: break-word;
    margin-right: 0.3%
}

th {
    padding-right: 1%;
}

.headers{
    margin-right: 4%;
    font-size: 93%;
}

th.titleOG{
    padding-left: 0;
    text-align: left;
}


h1 {
    clear: both;
    text-align: center;
    margin: 0 auto;
    padding-top: 0.3%;
    padding-bottom: 0.3%
}

.moveRight {
    text-align: right;
}

.updateDate{
    margin-top: 0.1%;
}

h4 {
    font-weight: normal;
    text-align: right;
    float: right;
    clear: both;
    margin: 0;
}

form {
    float: right;
    padding-top: 0;
    padding-bottom: 0.4%;
    clear: both;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select {
    color: inherit;
    font: inherit;
    text-decoration: inherit;
    border-radius: 0.1%;
    border-style: none;
    margin-bottom: 0.2%;
    text-align-last: right;
    background-color: transparent;
    border-color: transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-sizing: content-box;
    clear: both;
}

select#category{
    width:76px
}

select#sortBy{
    width:65px
}

option {
    direction: rtl;
    text-align: right;
}

table {
    clear: both;
}

td {
    word-wrap: break-word;
}

a {
  color: inherit;
  text-decoration: inherit;
}

img {
    border-image-repeat: stretch;
    border-image-slice: 150%;
}