{% extends 'base.html' %}
{% block head %}
<title>{{ name }} Match</title>
    <link rel="icon" href={{ favicon }}/>
{% endblock %}
{% block body %}
<div class = "content">
    <h1><a target="_blank" href ={{ shelf }}>{{ name }} Match</a></h1>
        <form action="/redirect/{{ style }}" method='post'>
            <select id="category" name="category" onchange='{ this.form.submit(); }'>
                <option value="" disabled selected>{{ choice[1] }}&#x200E;</option>
                <option value="" disabled selected>category</option>
                {% for cat in categories %}
                <option value="{{ cat[0] }}">{{ cat[1] }}&#x200E;</option>
                {% endfor %}
            </select>
        </form>
        <br>
        <form action={{ loc }} method='post'>
            <select id="sortBy" name="sortBy" onchange='{ this.form.submit(); }'>
                <option value="" disabled selected>{{ style }}&#x200E;</option>
                <option value="" disabled selected>sort by</option>
                {% for option in sort %}
                <option value="{{ option }}">{{ option }}&#x200E;</option>
                {% endfor %}
            </select>
        </form>
    <table align="center">
        <tr class ="headers">
            <th></th>
            <th></th>
            <th class = "titleOG">Title</th>
            <th class = "numbers">Average</th>
            <th class = "numbers">Ratings</th>
            <th class = "numbers">Published</th>
        </tr>
        {% for book in books %}
        <tr>
            <th> {{ book[0] }} </th>
            <td><a href={{ book[7] }}><img src={{ book[6] }} alt={{ book[0] }}></a></td>
            <td  class = "title"><a href={{ book[7] }} target="_blank">{{ book[2] }}</a></td>
            <td class = "numbers"> {{ book[3] }} </td>
            <td class = "numbers"> {{ book[4] }} </td>
            <td class = "numbers"> {{ book[5] }} </td>
        </tr>
        {% endfor %}
    </table>
</div>
    <h4 class ="updateDate"><a target="_blank" href={{ file }}>last updated: {{ time }}</a></h4>
    <br>
    <h4><a target="_blank" href={{ shelf }}>original goodreads shelf</a></h4>
{% endblock %}